name: Build

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 12 * * *"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build for ${{ matrix.manifest_file }} (${{ matrix.variant.temp_name }}, susfs=${{ matrix.susfs }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        variant:
          - { name: sukisu, temp_name: SukiSU }
          - { name: mksu, temp_name: MKSU }
          - { name: ksu, temp_name: KSU }
        susfs:
          - "yes"
          - "no"
        manifest_file:
          # - oneplus_12_u
          - oneplus_12_v
          - oneplus_12_b
          - oneplus_13r
          - oneplus_13r_b
          - oneplus_ace3_pro
          - oneplus_ace3_pro_v
          - oneplus_ace3_pro_b
          - oneplus_ace5
          - oneplus_ace5_b
          - oneplus_pad2_v
          - oneplus_pad2_b
          - oneplus_pad_pro_v
          - oneplus_pad_pro_b
      fail-fast: false
      max-parallel: 13

    permissions:
      id-token: write
      attestations: write

    steps:
      - uses: actions/checkout@main

      - uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true

      - name: Configure Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - uses: actions/setup-python@main
        with:
          python-version: "3.x"

      - name: Install repo tool
        run: |
          sudo apt-get update
          sudo apt-get install repo
          mkdir kernel_workspace

      - name: Initialize repo and sync
        working-directory: kernel_workspace
        run: |
          repo init \
            -u https://github.com/OnePlusOSS/kernel_manifest.git \
            -b refs/heads/oneplus/sm8650 \
            -m ${{ matrix.manifest_file }}.xml \
            --depth=1 --repo-rev=v2.16
          repo --trace sync -c -j$(nproc) --no-tags --fail-fast

      - name: Build
        working-directory: kernel_workspace
        id: build
        env:
          KSU_VARIANT: ${{ matrix.variant.name }}
          ENABLE_SUSFS: ${{ matrix.susfs }}
        run: |
          ../build_mksu.sh

      - uses: actions/attest-build-provenance@main
        with:
          subject-path: kernel_workspace/AnyKernel3

      - name: Upload artifacts
        uses: actions/upload-artifact@main
        with:
          name: |
            ${{
              matrix.susfs == 'yes' &&
                format('AnyKernel3-{0}-{1}-{2}-{3}-SUSFS-{4}', matrix.manifest_file, steps.build.outputs.kernel_version, matrix.variant.temp_name, steps.build.outputs.ksu_version, steps.build.outputs.susfs_version) ||
              matrix.susfs == 'no' &&
                format('AnyKernel3-{0}-{1}-{2}-{3}', matrix.manifest_file, steps.build.outputs.kernel_version, matrix.variant.temp_name, steps.build.outputs.ksu_version)
            }}
          path: kernel_workspace/AnyKernel3
          compression-level: 9
